# Laravel
node_modules/
public/storage/
storage/
vendor/
bootstrap/cache/
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.overage.xml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vagrant
/.idea
/.vscode

# OS
.DS_Store
Thumbs.db

# Database
database/database.sqlite

# Old file
nul
preview-booking.html
